@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
body * {
  font-family: Pretendard, "Noto Sans KR", sans-serif;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: normal;
  margin: 0;
}
body p {
  margin: 0;
}
body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body input {
  border: 0;
}

#body {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: #333;
  background-size: cover;
  background-repeat: no-repeat;
}
#body.sunny {
  background-image: url("assets/images/weatherBg/sunnyBg.png");
}
#body.cloudy {
  background-image: url("assets/images/weatherBg/cloudyBg.png");
}
#body.rainy {
  background-image: url("assets/images/weatherBg/rainyBg.png");
}
#body.snowy {
  background-image: url("assets/images/weatherBg/snowyBg.png");
}

.header {
  display: flex;
  padding: 3vh 4.5vw;
  justify-content: space-between;
  align-items: center;
  font-size: 1.125em;
}
.header .menu {
  cursor: pointer;
}
.header .title {
  font-size: 1em;
  font-weight: 300;
  color: #fff;
}
.header .reload {
  cursor: pointer;
}
.header .back {
  cursor: pointer;
}

.wrapper {
  padding: 0 4.5vw;
}
.wrapper#weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.wrapper .cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.wrapper .cont .place {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 2em;
  margin-bottom: 15px;
  color: #fff;
}
.wrapper .cont .bookmark {
  margin-left: 8px;
  cursor: pointer;
}
.wrapper .cont .weather {
  font-size: 1.2em;
  font-weight: 300;
}
.wrapper .cont .weather img {
  margin-right: 8px;
}
.wrapper .cont .degree {
  font-weight: 300;
  font-size: 5.625em;
  padding-left: 1vw;
}
.wrapper .cont .text {
  font-size: 1.5em;
  font-weight: 300;
}
.wrapper .cont .degrees {
  display: flex;
  margin: 1.2vh 0 3.3vh 0;
  font-size: 1.125em;
  font-weight: 300;
}
.wrapper .cont .degrees span:first-child {
  margin-right: 12px;
}
.wrapper .cont .info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 20px;
  box-sizing: border-box;
}
.wrapper .cont .info li {
  display: flex;
  flex-direction: column;
  width: calc(50% - 4px);
  padding: 12px;
  margin-bottom: 8px;
  box-sizing: border-box;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
}
.wrapper .cont .info li span {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 0.875em;
}
.wrapper .cont .info li span .kindOfWeather {
  padding-right: 3px;
}
.wrapper .cont .info li div {
  font-weight: 300;
  font-size: 1.375em;
  text-align: right;
  padding-top: 10px;
}
.wrapper .cont .info li:nth-child(odd) {
  margin-right: 8px;
}
.wrapper .character {
  padding: 3.2vh 0;
}
.wrapper .favorite {
  padding: 2.3vh 1.18vw;
}

.searchBar {
  width: 100%;
  position: relative;
}
.searchBar input {
  display: block;
  width: 100%;
  padding: 1.5vh 1.8vw;
  border-radius: 12px;
  background: #eff4f6;
  font-size: 0.875em;
  font-weight: 500;
  box-sizing: border-box;
}
.searchBar .searchIcon {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: calc(50% - 10px);
  right: 1.8vw;
  background-image: url("../images/searchIcon.png");
  cursor: pointer;
}

.favoriteList {
  display: flex;
  width: 100%;
  padding: 2.5vh 6vw;
  background: skyblue;
  margin-top: 1.2vh;
  box-sizing: border-box;
  border-radius: 16px;
  color: #fff;
}
.favoriteList > div {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.favoriteList .left .location {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 5px;
}
.favoriteList .left .name {
  font-size: 0.875em;
  font-weight: 300;
  margin-bottom: 30px;
}
.favoriteList .left .img {
  width: 50%;
}
.favoriteList .right {
  align-items: flex-end;
  justify-content: space-between;
}
.favoriteList .right .degree {
  font-size: 3.25em;
}
.favoriteList .right .kindOfWeather {
  text-align: right;
  font-size: 0.875em;
  font-weight: 300;
  margin-bottom: 10px;
}
.favoriteList .right .kindOfWeather span {
  padding-left: 3px;
}
.favoriteList .right .degrees {
  font-size: 0.875em;
  font-weight: 300;
}
.favoriteList .right .degrees span {
  padding-left: 5px;
}